<!DOCTYPE HTML>

<html>

<head>
    <meta charset="UTF-8">
    <title>StrongPay</title>
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/small-logo.png') }}" />
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='style/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='style/pay.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
    <div class="background">
        <div class="container">
            <div class="wrap-login">

                <div class="checkout-details">
                    <img style="font-size:24px; font-family:Arimo"  src="{{ merchant_logo }}" alt="{{ merchant_name }}"/>

                    <span class="order-details"> Order Details: </span>
                    <table class="order-table">
                      <tr>
                        <th colspan="2" >Description</th>
                        <th style="text-align:right">Amount</th>
                      </tr>
                      {% if items != [] %}
                        {% for item in items %}
                            <tr>
                              <td> {% if item.image %} <img style="height:38px; padding-bottom:0" src="{{item.image}}" width="38"/> {% endif %} </td>
                              <td> {% if item.url %} <a href="{{item.url}}" > {% endif %} {{item.name}}</a> <b> x {{item.quantity}} </b> </td>
                              <td style="text-align:right">{{"{:.2f}".format(item.price)}} {{currency}}</td>
                            </tr>
                        {% endfor %}
                      {% else %}
                      <tr>
                        <td colspan="2">Item</td>
                        <td style="text-align:right">{{amount}}</td>
                      </tr>
                      {% endif %}
                      <tr>
                        <td colspan="2">Total:</td>
                        <td style="text-align:right">{{amount}} {{currency}}</td>
                      </tr>
                    </table>

                </div>

                <div class="vl"></div>

                  {% if login_form %}
                  <form class="login-form" method='POST' action="{{ url_for('login', next=request.endpoint, **request.args) }}">
                      <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='style/login.css') }}">
                      <img src="{{ url_for('static',filename='images/logo.png') }}" alt="StrongPay"/>

                        <span class="login-title"> Login to finish your order</span>

                        <div class="login-input">
                            <input type="text" name="email" placeholder="Email" />
                            <span> <i class="fa fa-envelope" aria-hidden="true"></i> </span>
                        </div>

                        <div class="login-input">
                            <input type="password" name="pass" placeholder="Password" />
                            <span> <i class="fa fa-lock" aria-hidden="true"></i> </span>
                        </div>

                        <div class="login-button">
                            <button>Login</button>
                        </div>

                        <div class="create-account">
                            <a href="#" >Create your Account ⭬</a>
                        </div>


                  {% else %}
                    <form class="payment-form" method='POST' action="{{ url_for('proccess_payment', checkout = request.args.get('checkout_token') ) }}">
                      <img src="{{ url_for('static',filename='images/logo.png') }}" alt="StrongPay"/>

                      <div id="content-1">
                        <span class="payment-title"> Payment Details</span>
                        <img src="{{ url_for('static',filename='images/credit.png') }}" alt="StrongPay"/>

                        <div id="cc-div">
                        <div class="payment-input" id="dropdown">
                          <button id="wallet" type="button" class="dropbtn">Credit Card Wallet</button>
                          <div id="cc_div" class="dropdown-content">
                              <a href="#" onclick="cc_changed(this, true)">New Card</a>
                          </div>
                        </div>
                        </div>


                        <div id="oldCredit" style="display:none">
                          <input type="hidden" id="using-old" name="using-old" value="false">
                          <input type="hidden" id="old-id" name="old-id" value="0">
                          <div class="payment-input">
                              <input readonly="readonly" name="old-card-number" placeholder="Card Number" maxlength="16"/>
                              <span> <i class="fa fa-credit-card" aria-hidden="true"></i> </span>
                          </div>

                          <div class="payment-input" style="margin-bottom:70px">
                              <input readonly="readonly" type="text" name="old-exp" placeholder="MM/YY" maxlength="5"/>
                              <span> <i class="fa fa-calendar" aria-hidden="true"></i> </span>
                          </div>

                        </div>

                        <div id="newCredit">
                          <div class="payment-input">
                              <input name="card-number" placeholder="Card Number" maxlength="16"/>
                              <span> <i class="fa fa-credit-card" aria-hidden="true"></i> </span>
                          </div>

                          <div id="half" class="payment-input">
                              <input type="text" name="exp" placeholder="MM/YY" maxlength="5"/>
                              <span> <i class="fa fa-calendar" aria-hidden="true"></i> </span>
                          </div>

                          <div id="half" class="payment-input">
                              <input name="cvc" placeholder="CVC" maxlength="3" />
                              <span> <i class="fa fa-lock" aria-hidden="true"></i> </span>
                          </div>

                          <div class="payment-input">
                              <input type="text" name="card-owner" placeholder="Card Owner Name" />
                              <span> <i class="fa fa-user" aria-hidden="true"></i> </span>
                          </div>
                        </div>
                        <div class="payment-button">
                            <button type="button" id="next">Next</button>
                        </div>
                      </div>


                      <div id="content-2" style="display: None;">
                        <span class="payment-title">Your Billing Address</span>

                        <div id="ba-div">
                        <div class="payment-input" id="dropdown">
                          <button id="ba-button" type="button" class="dropbtn">Your Billing Address's</button>
                          <div id="ba_div" class="dropdown-content">
                              <a href="#" onclick="ba_changed(this, true)">New Billing Address</a>
                          </div>
                        </div>
                        </div>

                        <input type="hidden" id="using-old-ba" name="using-old-ba" value="false">
                        <input type="hidden" id="old-id-ba" name="old-id-ba" value="0">

                        <div class="payment-input">
                            <input type="text" name="first_name" placeholder="First Name"/>
                            <span> <i class="fa fa-user" aria-hidden="true"></i> </span>
                        </div>

                        <div class="payment-input">
                            <input type="text" name="last_name" placeholder="Last Name" />
                            <span> <i class="fa fa-user" aria-hidden="true"></i> </span>
                        </div>

                        <div id="half" class="payment-input">
                            <input type="text" name="country" placeholder="Country" />
                            <span> <i class="fa fa-flag" aria-hidden="true"></i> </span>
                        </div>

                        <div id="half" class="payment-input">
                            <input type="text" name="city" placeholder="Town / City" />
                            <span> <i class="fa fa-map-marker" aria-hidden="true"></i> </span>
                        </div>

                        <div class="payment-input">
                            <input type="text" name="address" placeholder="Address" />
                            <span> <i class="fa fa-home" aria-hidden="true"></i> </span>
                        </div>

                        <div id="half" class="payment-input">
                            <input type="text" name="post_code" placeholder="Post Code" />
                            <span> <i class="fa fa-map-pin" aria-hidden="true"></i> </span>
                        </div>

                        <div id="half" class="payment-input">
                            <input type="number" name="phone" placeholder="Phone" />
                            <span> <i class="fa fa-phone" aria-hidden="true"></i> </span>
                        </div>

                        <div id="half" class="payment-button">
                            <button type="button" id="back">Back</button>
                        </div>

                        <div id="half" class="payment-button">
                            <button id="proccess">Pay Now</button>
                            <img id="loading" src="{{ url_for('static',filename='images/loading.gif') }}" alt="StrongPay"/>
                        </div>
                      </div>
                  {% endif %}

                  <div class="error" id="form-error" style="display:none">
                     <i class="fa fa-times-circle"></i>
                     <span id="span-error"></span>
                  </div>
                </form>

                {% if error %}
                <div class="error">
                   <i class="fa fa-times-circle"></i>
                    {{error}}
                </div>
                {% endif %}

            </div>
        </div>
    </div>

    <script src="{{ url_for('static',filename='js/validation.js') }}"></script>
    <script src="{{ url_for('static',filename='js/pay.js') }}"></script>
</body>

</html>
