<!DOCTYPE HTML>

<html>

<head>
    <meta charset="UTF-8">
    <title>StrongPay</title>
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/small-logo.png') }}" />
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='style/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='style/login.css') }}">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='style/profile.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
    <div class="background">
        <div class="container" style="justify-content: start; flex-direction:column">
            <div class="wrap-login">

                <div class="image-div">
                    <img src="{{ url_for('static',filename='images/logo.png') }}" alt="StrongPay"/>
                </div>

                <div class="tab">
                  <button id="defaultOpen" class="tablinks" onclick="changeTabs(event, 'Buyer')">Buyer</button>
                  <button id="merchantOpen" class="tablinks" onclick="changeTabs(event, 'Merchant')">Merchant</button>
                </div>

                <div id="Buyer" class="tabcontent">
                  <div class="wrap-tabcontent">

                      <div>
                        <div style="padding-top:20px" class="label-crud">
                            <span>Name:</span>
                            <button onclick="edit('name')">Edit</button>
                        </div>
                        <div class="input">
                            <input id="name" type="text" readonly="readonly" />
                        </div>
                        <div class="label-crud">
                            <span>E-mail:</span>
                        </div>
                        <div class="input">
                            <input id="email" type="text" readonly="readonly"/>
                        </div>
                        <div class="label-crud">
                            <span>NIF:</span>
                            <button onclick="edit('nif')">Edit</button>
                        </div>
                        <div class="input">
                            <input id="nif" type="number" readonly="readonly"/>
                        </div>

                        <div class="login-button">
                            <button id="update-button" style="visibility: hidden">Update</button>
                        </div>
                        <br/>
                        <hr>
                        <div id="cc-div">

                          <div class="input" id="dropdown">
                            <button id="wallet" type="button" class="dropbtn">Credit Card Wallet</button>
                            <div id="cc_div" class="dropdown-content">

                            </div>
                           </div>

                          <div>
                            <div class="input">
                                <input id="has-icon" name="card_number" readonly="readonly" placeholder="Card Number" maxlength="16"/>
                                <span> <i class="fa fa-credit-card" aria-hidden="true"></i> </span>
                            </div>

                            <div class="input" >
                                <input id="has-icon" name="card_exp"  readonly="readonly" type="text" placeholder="MM/YY" maxlength="5"/>
                                <span> <i class="fa fa-calendar" aria-hidden="true"></i> </span>
                            </div>

                            <div style="padding: 0 0 10px 0" class="login-button">
                                <button id="delete-cc" style="background: #dc3545; border: none;">Delete</button>
                            </div>

                          </div>
                        </div>

                      </div>


                      <div id="ba-div">

                        <div class="input" id="dropdown">
                          <button id="wallet" type="button" class="dropbtn">Your Billing Address's</button>
                          <div id="ba_div" class="dropdown-content">

                          </div>
                        </div>

                        <div>
                          <div class="input">
                              <input id="has-icon" type="text" readonly="readonly" name="first_name" placeholder="First Name"/>
                              <span> <i class="fa fa-user" aria-hidden="true"></i> </span>
                          </div>

                          <div class="input">
                              <input id="has-icon" type="text" readonly="readonly" name="last_name" placeholder="Last Name" />
                              <span> <i class="fa fa-user" aria-hidden="true"></i> </span>
                          </div>

                          <div class="input">
                              <input id="has-icon" type="text" readonly="readonly" name="country" placeholder="Country" />
                              <span> <i class="fa fa-flag" aria-hidden="true"></i> </span>
                          </div>

                          <div class="input">
                              <input id="has-icon" type="text" readonly="readonly" name="city" placeholder="Town / City" />
                              <span> <i class="fa fa-map-marker" aria-hidden="true"></i> </span>
                          </div>

                          <div class="input">
                              <input id="has-icon" type="text" readonly="readonly" name="address" placeholder="Address" />
                              <span> <i class="fa fa-home" aria-hidden="true"></i> </span>
                          </div>

                          <div class="input">
                              <input id="has-icon" type="text" readonly="readonly" name="post_code" placeholder="Post Code" />
                              <span> <i class="fa fa-map-pin" aria-hidden="true"></i> </span>
                          </div>

                          <div class="input">
                              <input id="has-icon" type="number" readonly="readonly" name="phone" placeholder="Phone" />
                              <span> <i class="fa fa-phone" aria-hidden="true"></i> </span>
                          </div>

                          <div id="half" class="login-button">
                              <button id="delete-ba" style="background: #dc3545; border: none;">Delete</button>
                          </div>

                          <div id="half"  class="login-button">
                              <button id="edit-ba" style="background: #f0ad4e; border: none;">Edit</button>
                              <button id="update-ba" style="display: none">Update</button>
                          </div>


                        </div>

                      </div>
                  </div>
                </div>

                <div id="Merchant" class="tabcontent">
                    <div class="wrap-tabcontent">

                        <div id="become-merchant-div" style="padding-top:20px;">
                            <span style="padding-bottom:10px;" class="login-title"> You are not a Merchant yet.</span>
                            <div class="login-button">
                                <button id="become-merchant">Become Now</button>
                            </div>
                        </div>

                        <div id="logo-img-div" style="width:40%; display: none; flex-direction: column; justify-content: center;">
                            <img style="margin: auto; padding-bottom: 20px; max-width: 400px; max-height: 400px;" id="logo-img" width="100%" onerror="this.onerror=null;this.src='{{ url_for('static',filename='images/your-logo-here.png') }}';"/>
                        </div>

                        <div id="merchant-content" style="display:none">

                          <div style="padding-top:20px" class="label-crud">
                              <span>Name:</span>
                              <button onclick="edit('name-merchant', true)">Edit</button>
                          </div>
                          <div class="input">
                              <input id="name-merchant" type="text" readonly="readonly" />
                          </div>

                          <div class="label-crud">
                              <span>Domain:</span>
                              <button onclick="edit('domain', true)">Edit</button>
                          </div>
                          <div class="input">
                              <input id="domain" type="text" readonly="readonly" />
                          </div>

                          <div class="label-crud">
                              <span>Logo URI:</span>
                              <button onclick="edit('logo', true)">Edit</button>
                          </div>
                          <div class="input">
                              <input id="logo" type="text" readonly="readonly" />
                          </div>

                          <div class="label-crud">
                              <span>Your Token:</span>
                          </div>
                          <div class="input">
                              <input id="token" type="text" readonly="readonly"/>
                              <a  style="display:block; text-align:center;" href="/docs">Learn How To Use Your Token</a>
                          </div>

                          <div class="login-button">
                              <button id="update-button-merchant" style="visibility: hidden">Update</button>
                          </div>

                        </div>

                    </div>
                </div>

                {% if error %}
                <div class="error">
                   <i class="fa fa-times-circle"></i>
                   {{error}}
                </div>
                {% endif %}

            </div>
        </div>
    </div>

</body>

<script src="{{ url_for('static',filename='js/profile.js') }}"></script>

</html>
