{% extends 'base/layout-nocart.html' %}

{% block content %}
    <section>
        <div class="container-fluid" style="margin-top: 25px; margin-bottom: 30px">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-10">
                    <h4>Confirm your order:</h4>
                    <div class="row" style="margin-left: 0; margin-right: 0; margin-top: 35px">
                        <div class="col-5">
                            <div class="card">
                                <div class="card-header font-weight-bold">
                                    User information:
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        {{ user }}
                                    </li>
                                    <li class="list-group-item">
                                        NIF: 123456789
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-5">
                            <div class="card">
                                <div class="card-header font-weight-bold">
                                    Buyer information:
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        {{ buyerID.NAME }}
                                    </li>
                                    <li class="list-group-item">
                                        NIF: {{ buyerID.NIF }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover" style="margin-top: 30px;">
                            <thead class="table-secondary">
                                <tr>
                                    <th class="w-100" scope="col"><h6><strong>Product</strong></h6></th>
                                    <th class="w-auto text-center" scope="col"><h6><strong>Price</strong></h6></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                    <tr>
                                        <td scope="row">
                                            <div class="media">
                                                <a class="img-thumbnail">
{#                                                    <img src="{{ product.1.product.poster }}"#}
{#                                                         style="width: 65px; height: 65px;">#}
                                                </a>
                                                <div class="media-body" style="margin-left: 10px">
                                                    <h6>
                                                        <a href="{{ product.URL }}">
                                                            {{ product.NAME }}
                                                        </a>
                                                    </h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <strong>{{ product.PRICE }}€</strong>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td class="text-right">
                                        <h4>Total:</h4>
                                    </td>
                                    <td>
                                        <h4>{{ totalPrice }}€</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right" colspan="3">
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <button class="btn btn-success btn-lg" type="submit">
                                                <span class="fas fa-check"></span> Confirm & Pay
                                            </button>
                                            <input type="hidden" id="buyerID" name="buyerID" value="{{ buyerID.ID }}">
                                            <input type="hidden" id="checkoutToken" name="checkoutToken" value="{{ checkoutToken }}">
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}