{% extends 'base/layout.html' %}

{% block content %}
    <section>
        <div class="container-fluid" style="margin-top: 25px; margin-bottom: 30px">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-10">
                    <h4>Confirm your order:</h4>
                    <div class="table-responsive">
                        <table class="table table-hover" style="margin-top: 30px;">
                            <thead class="table-secondary">
                                <tr>
                                    <th class="w-100" scope="col"><h6><strong>Product</strong></h6></th>
                                    <th class="w-auto text-center" scope="col"><h6><strong>Price</strong></h6></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                    <tr>
                                        <td scope="row">
                                            <div class="media">
                                                <a class="img-thumbnail">
                                                    <img src="{{ product.poster }}"
                                                         style="width: 65px; height: 65px;">
                                                </a>
                                                <div class="media-body" style="margin-left: 10px">
                                                    <h6><a href="{% url 'movie-single' id=product.id %}">{{ product.title }}</a></h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <strong>{{ product.price }}€</strong>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td class="text-right">
                                        <h4>Total:</h4>
                                    </td>
                                    <td>
                                        <h4>{{ totalPrice }}€</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right" colspan="3">
                                        <a class="btn btn-success btn-lg" href="#">
                                            <span class="fas fa-check"></span> Confirm & Pay
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}