{% extends 'base/layout.html' %}

{% block content %}
    <section>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'genres' %}">Genres</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ genreName }}</li>
                {% if isAuthenticated %}
                    {% if subscribed %}
                        <li class="btn btn-sm btn-secondary ml-auto fas fa-bell" onclick="subscribeToChannel(this, {{ user_id }}, 'stroam-{{ genreName }}')">
                            Unubscribe
                        </li>
                    {% else %}
                        <li class="btn btn-sm btn-danger ml-auto fas fa-bell" onclick="subscribeToChannel(this, {{ user_id }}, 'stroam-{{ genreName }}')">
                            Subscribe
                        </li>
                    {% endif %}
                {% endif %}
            </ol>
        </nav>
        {% if not movies %}
            <div style="padding-top: 200px; padding-bottom: 200px;">
                <h3 class="text-center">
                    Sorry, there are no Movies or TV series for {{ genreName }}...<br>
                    Check us out later!
                </h3>
            </div>
        {% else %}
            <div class="container" style="margin-top: 20px">
                <h4>Check out our handpicked collection of {{ genreName }} productions:</h4>

            </div>
            {% include 'base/movie-list.html' %}
        {% endif %}
    </section>
{% endblock %}