<!-- <div class="row">
    <div class="col-md-4">

        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

            <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <label for="username">Username: </label>
                <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                <div class="alert alert-danger" *ngIf="f.submitted && !username.valid">Username is required</div>
            </div>
        
            <br />
            <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <label for="password">Password: </label>
                <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                <div class="alert alert-danger" *ngIf="f.submitted && !password.valid">Password is required</div>
            </div>
        
            <br />
            <div>
                <button class="button">Login</button>
            </div>
        </form>

    </div>
</div>

<br /> <br />

<button (click)="facebookLogin()">facebook</button> -->

<!-- 
<button (click)="getAllUsers()">who is</button>

<button (click)="getToken()">get Token</button> -->


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a id="login-form-link" class="active" (click)="goToLogin()">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a id="register-form-link" (click)="goToRegister()">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <!-- <form id="login-form" action="https://phpoll.com/login/process" method="post" role="form" style="display: block;">
                                <div class="form-group">
                                    <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group text-center">
                                    <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                    <label for="remember"> Remember Me</label>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form> -->


                            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

                                <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                   <!--  <label for="username">Username: </label>
                                    <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required /> -->
                                    <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                    <div class="alert alert-danger" *ngIf="f.submitted && !username.valid">Username is required</div>
                                </div>
                                
                                <br />
                                <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                   <!--  <label for="password">Password: </label>
                                    <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required /> -->
                                    <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required id="password" tabindex="2" class="form-control" placeholder="Password">
                                    <div class="alert alert-danger" *ngIf="f.submitted && !password.valid">Password is required</div>
                                </div>
                                <div class="form-group text-center">
                                    <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                    <label for="remember"> Remember Me</label>
                                </div>
                                <div>
                                    <button class="form-control btn btn-login" type="submit" >Login</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-fb" (click)="facebookLogin()"><i class="fa fa-facebook pr-1"></i> Facebook</button>
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-git" (click)="githubLogin()"><i class="fa fa-github pr-1"></i> Github</button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<br /> <br />

<div *ngIf="failLogin">
    User Not found.
</div>