<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col">
                            <a id="login-form-link"  (click)="goToLogin()">Login</a>
                        </div>
                        <div class="col">
                            <a id="register-form-link" class="active" (click)="goToRegister()">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <!-- Register (ngSubmit)="f.form.valid && register()"  required -->
                            <form  #f="ngForm" (ngSubmit)="register()" method="post" novalidate>

                                <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                    <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel"  id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                    <div class="alert alert-danger" *ngIf="f.submitted && !username.valid">Username is required</div>
                                </div>
                                <br />

                                <div [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                                    <input type="email" name="email" [(ngModel)]="model.email" #email="ngModel"  id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                                    <div class="alert alert-danger" *ngIf="f.submitted && !email.valid">Email is required</div>
                                </div>
                                <br />

                                <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                    <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel"  id="password" tabindex="2" class="form-control" placeholder="Password">
                                    <div class="alert alert-danger" *ngIf="f.submitted && !password.valid">Password is required</div>
                                </div>
                                <br />

                                <div [ngClass]="{ 'has-error': f.submitted && !confirmpassword.valid }">
                                    <input type="password" name="confirmpassword" [(ngModel)]="model.confirmpassword" #confirmpassword="ngModel"  id="confirmpassword" tabindex="2" class="form-control" placeholder="Confirm Password">
                                    <div class="alert alert-danger" *ngIf="f.submitted && !confirmpassword.valid">Password must match</div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col">
                                        <button class="form-control btn btn-register" type="submit" >Register Now</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>