
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arimo;
}

.background{
  width: 100%;
  margin: 0 auto;
}

.container{
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url(../images/wallet.png);
  background-repeat: no-repeat;
  background-position: center;
}

.wrap-login{
  opacity: 0.95;
  width: 960px;
  background: #fff;
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  overflow: hidden;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 50px 20px 50px;
}

/* Responsive */

@media (max-width: 845px) {
  .wrap-login {
    justify-content: center;
    padding: 100px 100px 100px 100px;
  }

  .image-div{
    line-height: 100px;
  }

  .login100-form {
    width: 50%;
  }
}

.error {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
    padding:12px;
    color: #D8000C;
    background-color: #FFD2D2;
}

/* Alert */

.alert::after {
  content: "⚠️";
  display: block;
  top:15%;
  position: absolute;
  color: #c80000;
  font-size: 25px;
  right: 13px;
}
