<div class="container">
    <div class="row">
        <div class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <div class="col">
                        <h3>User Managment</h3>
                    </div>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                
                <div class="row">
                    <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                </div>
                <div class="row">
                        <input type="text" name="email" [(ngModel)]="model.email" #email="ngModel" required id="email" tabindex="1" class="form-control" placeholder="Email" value="">
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <input type="password" name="oldpassword" [(ngModel)]="model.oldpassword" #oldpassword="ngModel" required id="oldpassword" tabindex="2" class="form-control" placeholder="Old Password">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="password" name="newpassword" [(ngModel)]="model.newpassword" #newpassword="ngModel" required id="newpassword" tabindex="2" class="form-control" placeholder="New Password">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="password" name="confnewpassword" [(ngModel)]="model.confnewpassword" #confnewpassword="ngModel" required id="confnewpassword" tabindex="2" class="form-control" placeholder="Confirm New Password">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col" style="text-align: center">
                        <button type="submit" class="btn btn-register" (click)="updateuser()" >Update</button>
                    </div>
                </div>
                <br />
                <div *ngIf="!this.model.gauth2faActive" class="row">
                    <div class="col" style="text-align: center">
                        <button  type="submit" class="btn btn-register" (click)="active2fa()">Active Two Factor Authenticator</button>
                    </div>
                </div>
                <div *ngIf="this.model.gauth2faActive" class="row">
                    <div class="col" style="text-align: center">
                        <button  type="submit" class="btn btn-register">Desative Two Factor Authenticator</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>