<div class="container">
    <div class="row">
        <div class="col">
            <div style="text-align:center">
                <font size="30" color="green">Successful Github Login </font>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div style="text-align:center">
                <font size="25" >Welcome, {{ name }} </font>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col">
            <div style="text-align:center">
                redicting...
            </div>
        </div>
    </div>
</div>

<br /> <br />
<div class="row">
    <div class="col">
        <div style="padding: 20px">
                <font size="5" >Debug:</font>
                <br />
                <b>ID Client:</b> {{ client_id }}
                <br />
                <b>Name:</b> {{ name }}
                <br />
                <b>Token:</b> {{ token }}
        </div>
    </div>
</div>