{% load staticfiles %}
<footer class="bg-dark">
    <div class="container-fluid">
        <div class="row p-5">
            <div class="col-md-3 col-sm-7 text-center">
                <img src="{% static 'images/logo.png' %}" style="height: 80px"/>
            </div>
            <div class="col-md-4 col-sm-5" style="padding-top: 15px;">
                <p class="text-white align-middle">
                    STROAM is a Django web-app developed for Services Engineering course.
                </p>
            </div>
            <div class="col-md-5 col-sm-12 text-center">
                <h6 class="text-white">Built with <i class="fas fa-heart"></i> in</h6>
                <a href="https://www.ua.pt/deti">
                    <img src="{% static 'images/deti.png' %}" style="height: 65px"/>
                </a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        let notificationClient = new NotTheServiceClient('{{ NOTIFICATION_SERVER_HOST }}', 1884);

        function onConnect() {
            notificationClient.subscribe('/requestResponse'); //if have interest in receive the requests responses
            notificationClient.subscribe('/stroam-general');
            {% for channel in subscribed_channels %}
                notificationClient.subscribe('/{{ channel }}');
            {% endfor %}
            console.log("connected to notification service");
        }
    </script>
</footer>