{% load staticfiles %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'homepage' %}">
        <img alt="STROAM" src="{% static 'images/logo.png' %}"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homeMovies' %}">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homeSeries' %}">TV Series</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'shopping-cart' %}">
                    <span class="fas fa-shopping-cart"></span>
                    {% if numCart > 0 %}
                        Cart ({{ numCart }})
                    {% else %}
                        Cart
                    {% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Register/Sign in</a>
            </li>
        </ul>
    </div>
</nav>